<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/bg.css" />
    <script type="text/javascript" src="../static/index.js"></script>
</head>
<body>
    <div id="index_head">
        <h1><a href="https://www.google.com">search</a></h1>
    </div>
    <div id="index_head">
        <button onclick="bck.print("hee")">qu</button>
    </div>
</body>
</html>